@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

:root {
  --primary: #2e4034;
  --secondary: #51736d;
  --backgroundColor: #152623;
  --neutral: #d9d4bf;
}

body {
  background: var(--neutral);
}

.primary-background {
  background: var(--primary);
}

.secondary-background {
  background: var(--secondary);
}

.neutral-background {
  background: var(--neutral);
}

.font-primary {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}
