:root {
  --primary: #92756a;
  --secondary: #d9d9d9;
  --backgroundColor: #f5f5f5;
  --neutral: #decbc4;
}

body {
  background: var(--backgroundColor);
}

.primary-background {
  background: var(--primary);
}

.secondary-background {
  background: var(--secondary);
}

.neutral-background {
  background: var(--neutral);
}

.font-primary {
  font-family: "Caveat", cursive;
}

.bold {
  font-weight: bold;
}